@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Merriweather', serif;    
    font-display: swap;
}

.menu-icon {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}


/* SERVICES */

.services {
    
    
    background: url(images/services-bg.jpg) , rgba(255, 255, 255, 0.85);
    background-blend-mode: darken;
    background-size: cover;
    background-position: 15%;
    background-position-y: -30vh;
    background-attachment: fixed;
   
}
.services-call {
    color: rgb(255, 102, 0);
    font-size: 1.3rem;
    
}

.i-wrapper { 
    flex-direction: column;
    
}
.ilustrations {
    flex-direction: column;
    transform: translateX(0);
}
.services p {
    width: 80vw;
    text-align: left;
    order: 3;
    color: #0A0A1C;
}
.services h1 {
    color: #0A0A1C;
    margin-top: 40px;
    padding-top: 30px;
}
.services-heading{
    transform: translateX(0%)
}
.ilustrations {
    
    justify-content: space-evenly;
   max-width: 1400px;
    margin-bottom: 50px;
    
    
}

.i-wrapper:last-of-type img   {
    width: 50px;
}

.i-wrapper:first-of-type img {
    width: 60px;
}

.i-wrapper img {
    transform: scale(2.2);
    order: 2;
    filter: brightness(0) saturate(100%) invert(5%) sepia(8%) saturate(6950%) hue-rotate(210deg) brightness(103%) contrast(101%);
}

 .i-wrapper h3 {
    
    order: 1;
 }

 .i-wrapper p {
    font-size: 1rem;
    order: 3;
 }
.services h3 {
    color: rgb(255, 102, 0);
}
.services p::after {
    content: '';
    display: block;
    position:relative;
    top:20px;
    width: 80vw;
    border-bottom: 1px dashed rgb(255, 102, 0);
    text-align: center;
    margin: 0 auto;
}

.parownica {
    color: rgb(255, 102, 0);
    margin-top: 5px;
    cursor: pointer;
}
.parownica-photo {
    width: 300px;
    height: 300px;
    background: url(images/parownica-photo.jpg);
    background-size: cover;
    position: absolute;
    transition: .2s ease-in-out;
    z-index: 10;
    transform: scale(0);
}
.container {
    width: 110%;
    background: rgba(230, 230, 230, 0.7);
    margin-bottom: -9px;
}

/* ABOUT-US */


.about-us {
    border-top: 100px solid ;
    height: 110vh;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    height: fit-content;
    background: url(images/services-bg.jpg) , rgba(214, 214, 214, 0.85);
    background-blend-mode: darken;
}
.about-us div {
    max-width: 900px;
}
.about-us h1 {
    margin-top: 10px;
    color: #0A0A1C;
    
}


.about-us p {
    
    text-align: justify;
    padding-bottom: 40px;
    margin: 0 auto;
    font-weight: 500;
    color: #0A0A1C;
}




.about-us div div {
    width: 100vw;
    height: 40vh;
    margin: -5px;
    background: url(/images/ac-about.webp);
    background-size: cover;

}

footer a{
    width: 300px;
}

@media screen and (min-width:1000px) {


    .container {
        width: 60%;
        background: rgb(236, 236, 236);
        margin-bottom: -9px;
    }

    

    .menu-icon {
        display: none;
    }

  .services {
    gap:0;
    z-index: 0;
  }
 .services h1::after {
   margin-top: 20px;
 }

 .ilustrations {
    scale: 1;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    margin-top: 0;
    
    
 }
 .i-wrapper {
    
    justify-content: flex-start;
    
    gap: 50px;
 }

 .i-wrapper img {
    order: 2;
    
 }
 .i-wrapper h3 {
    font-size: 2rem;
    order: 1;
 }

 .i-wrapper p {
    width: 35vw;
    order: 3;
 }

 

.i-wrapper p::after {
    border:none;
}


/* ****************************ABOUT US PAGE***************** */
.about-us {
    flex-direction: column;
    height: 110vh;
    
}

#about-us {
    padding-top: 100px;
}

.about-us div {
    display: flex;
    flex-direction: row;
    margin: 0 auto 100px;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    max-width: 1200px;
    gap: 100px;
    padding: 25px;
}


.about-us p {
   font-weight: 500;
   line-height: 180%;
   padding: 0;
   font-size: 1rem;
   flex-basis: 50%;
   height: fit-content;
   
   align-self: center;
   
}
.about-us div div {
    flex-basis: 50%;
    width: 70vw;
    
    background: url(images/ac-about.webp);
    background-size: cover;
    background-position: center;

}
footer {
    position: fixed;
    bottom: 0;
}
}